results/variant_tables/
results/*_pangolin_reports/
work/
.nextflow/

resources/update_pango_docker/
resources/runs_of_interest.csv
results/report.html*
results/lineage_designation_dates.csv
results/pango_consensus_sequences.fasta
.nextflow.log*
.DS_Store
config/envs/env-*
config/envs/.env-*
._*
