params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	// Absolute path to the directory where subdirectories for each
	// sequencing run are stored.
	data_dir = "/Users/nicholasminor/Downloads/pango_test"
	
	// Where to place results
	results = "$baseDir/results"
	
	// whether to identify (true or false) potential long infections
	identify_long_infections = true
	
	// whether to update pango to the latest version (true or false)
	update_pango = true
	
	// Docker registry to use. In the past we have used 'dockerreg.chtc.wisc.edu/dabaker3'
	docker_reg = 'nrminor'
	
	// date for docker image tagging
	date = new java.util.Date().format('yy_MM_dd')
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	// Table specifying when each lineage was first added to pango
	dockerfile_path = "$baseDir/resources/update_pango_docker"
	
}

profiles {
	
	docker {
		
		docker.enabled = true
		
		process {
			
			withName:UPDATE_PANGO_DOCKER {
				// container = "${params.docker_reg}/pangolin_updated:${params.date}"
				container = "staphb/pangolin:latest"
				docker.runOptions = '--pull=always'
			}
			withName:IDENTIFY_LINEAGES {
				// container = "${params.docker_reg}/pangolin_updated:${params.date}"
				container = "staphb/pangolin:latest"
			}
			
		}
		
	}
	
	conda {
		
		conda {
			enabled = true
			cacheDir = "$baseDir/config/envs"
			createOptions = "-y -c conda-forge -c bioconda -c r"
			useMamba = true
		}
		
		process {
			
			withName:UPDATE_PANGO_CONDA {
				conda = "pangolin"
			}
			withName:IDENTIFY_LINEAGES {
				conda = "pangolin"
			}
			
		}
		
	}
}

report {
  enabled = false
  file    = "${params.results}/report.html"
}

cleanup = false
