params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	// Absolute path to the directory where subdirectories for each
	// sequencing run are stored.
	data_dir = "/Volumes/GoogleDrive/Shared drives/2019-nCoV open research team/Sequencing Data"
	
	// Where to place results
	results = "$baseDir/results"
	
	// Path to SARS-CoV-2 annotations
	refgff = "$baseDir/resources/MN9089473.gff3"
	
	// whether to identify (true or false) potential long infections
	identify_long_infections = true
	
	// How many days past lineage designation to consider an infection prolonged
	days_of_infection = 240
	
	// whether to classify into BA.2-based RBD mutation levels
	classify_mutation_levels = false
	
	// whether to update pango to the latest version (true or false)
	update_pango = true
	
	// Docker registry to use. In the past we have used 'dockerreg.chtc.wisc.edu/dabaker3'
	docker_reg = 'nrminor'
	
	// date for docker image tagging
	date = new java.util.Date().format('yy_MM_dd')
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	// Table specifying when each lineage was first added to pango
	dockerfile_path = "$baseDir/resources/update_pango_docker"
	
}

profiles {
	
	docker {
		
		docker.enabled = true
		
		process {
			
			withName:UPDATE_PANGO_DOCKER {
				// container = "${params.docker_reg}/pangolin_updated:${params.date}"
				container = "staphb/pangolin:latest"
				docker.runOptions = '--pull=always'
			}
			withName:IDENTIFY_LINEAGES {
				// container = "${params.docker_reg}/pangolin_updated:${params.date}"
				container = "staphb/pangolin:latest"
			}
			
		}
		
	}
	
	conda {
		
		conda {
			enabled = true
			cacheDir = "$baseDir/config/envs"
			createOptions = "-y -c conda-forge -c bioconda -c r"
			useMamba = true
		}
		
		process {
			
			withName:UPDATE_PANGO_CONDA {
				conda = "pangolin"
			}
			withName:IDENTIFY_LINEAGES {
				conda = "pangolin"
			}
			withName:GET_BA_2_SEQ {
				conda = "conda-forge::zstd=1.5.2"
			}
			withName:MAP_TO_BA_2 {
				conda = "minimap2 samtools"
			}
			withName:CALL_RBD_VARIANTS {
				conda = "ivar"
			}
			
		}
		
	}
}

report {
  enabled = false
  file    = "${params.results}/report.html"
}

dag {
	enabled = true
	overwrite = true
	file = 'lineager-analyzer-visualization.png'
}

cleanup = false
