params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	// Absolute path to the directory where subdirectories for each
	// sequencing run are stored.
	data_dir = "/Volumes/GoogleDrive/Shared drives/2019-nCoV open research team/Sequencing Data"
	
	// Where to place results
	results = "$baseDir/results"
	
	// whether to identify (true or false) potential long infections
	identify_long_infections = false
	
	// whether to update pango to the latest version (true or false)
	update_pango = true
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	// Table specifying when each lineage was first added to pango
	classification_dates = "$baseDir/resources/ "
	dockerfile_path = "$baseDir/resources/update_pango_docker"
	
}

docker {
	enabled = true
	runOptions = '--pull=always'
}

process {
	
	withName:IDENTIFY_LINEAGES {
		container = 'dockerreg.chtc.wisc.edu/dabaker3/pangolin:latest'
		}
	
}

report {
  enabled = true
  file    = "${params.results}/report.html"
}
